{% extends "base.html" %}
{# Base das telas de cadastro: filtro opcional, botão de novo registro e tabela. #}

{% block acoes %}
  {% block filtros %}{% endblock %}
  <button class="btn btn-primario" id="botaoNovo">
    <i class="fa-solid fa-plus me-1"></i> {% block rotulo_novo %}Novo registro{% endblock %}
  </button>
{% endblock %}

{% block conteudo %}
  {% block antes_tabela %}{% endblock %}
  <div class="cartao">
    <div class="cartao-corpo">
      <div id="areaTabela">
        <div class="vazio"><i class="fa-solid fa-spinner fa-spin"></i>Carregando registros…</div>
      </div>
    </div>
  </div>
  {% block depois_tabela %}{% endblock %}
{% endblock %}
